/* Override bootstrap defaults */

body {
    margin-top: -9px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #76716e;
    background: url(../img/sfapp_bg.jpg) 50% 57px repeat-x #FFF;
}

hr {
    clear: both;
    margin-top: 40px;
}

h2 {
    margin-bottom: 20px;
    font-size: 250%;
    color: #C4AA23;
}

h3 {
    margin-bottom: 20px;
    font-size: 180%;
}

h2,
h3 {
    margin-top: -30px;
    padding-top: 70px;
}

#home h2,
#home h3 {
    padding-top: 0;
}

h2:first-child {
    margin-top: 0;
}

h2 + h3 {
    margin-top: -70px;
}

h4 {
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: Georgia,'Times New Roman',Times,serif;
    font-size: 170%;
    font-weight: normal;
    line-height: 27px;
}

p {
    margin-bottom: 1em;
}

pre {
    background-color: white;
}

pre code,
code {
    color: #BB5A24;
}

form input,
form select {
    border: 2px solid #e7e4dc;
}

form select {
    padding: 3px 4px;
}

a {
    color: #78BCBF;
}

a:hover {
    color: #635F5C;
}

.nav > li > a:hover {
    background-color: rgba(205,213,214,0.18);
}
.nav.subnav > li {
    padding-left: 10px;
}

.nav.subnav > li.open a {
    background-color: rgba(205,213,214,0.36);
}

.more a {
    font-size: 111%;
    color: #78BCBF;
    color: #468D91;
}

.more.active {
    border: none;
}

.nav.subnav > li.more,
.nav.subnav .nav li {
    padding-left: 0;
}

/* Utility classes */

.module {
    margin-bottom: 40px;
}

.container {
    padding-bottom: 80px;
    max-width: 940px;
}

.tip,
time,
.hero-unit em {
    display: block;
    max-width: 680px;
    font-family: Georgia,'Times New Roman',Times,serif;
    font-style: oblique;
    line-height: 21px;
    color: #97928f;
}

.tip,
.hero-unit em {
    margin-bottom: 20px;
}

.textreplace {
    display: block;
    text-indent: -9999em;
}

.masthead {
    text-align: center;
}

.btn {
    padding: 4px 15px 4px;
    border: 3px solid #e9e8e3;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-family: "Georgia","Times New Roman","Times",serif;
    font-style: normal;
    font-weight: normal;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.masthead .btn {
    padding: 15px 20px;
    font-size: 24px;
}

.btn-sunlight {
    border-color: #ba5300 #ba5300 #000;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1)rgba(0,0,0,0.25);
    text-shadow: 0 1px 1px rgba(186,83,0,0.75);
    font-style: normal;
    color: #fdfcfb;
    background-color: #ce6100;
    background-image: -moz-linear-gradient(top,#ce6100,#ba5300);
    background-image: -ms-linear-gradient(top,#ce6100,#ba5300);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ce6100),to(#ba5300));
    background-image: -webkit-linear-gradient(top,#ce6100,#ba5300);
    background-image: -o-linear-gradient(top,#ce6100,#ba5300);
    background-image: linear-gradient(top,#ce6100,#ba5300);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce6100', endColorstr='#ba5300', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-sunlight:hover,
.btn-sunlight:active,
.btn-sunlight.active,
.btn-sunlight.disabled,
.btn-sunlight[disabled] {
    color: #fdfcfb;
    background-color: #ba5300;
}

.btn-sunlight:active,
.btn-sunlight.active {
    background-color: #ba5300;
    background-color: #ba5300 \9;
}

.cycle h4 {
    margin-top: 0;
    padding-top: 0.4em;
}

.cycle ul:not(.imgbtns)> li {
    display: none;
}

.cycle ul:not(.imgbtns)> li:first-child,
.cycle.active ul:not(.imgbtns)> li {
    display: block;
}

.affix-me {
    position: absolute;
    top: 70px;
}

[class*=span] {
    position: relative;
}

/* Header */
.header-title { margin-top: 140px; border-bottom: 1px dashed #b2afaf; padding-bottom: 10px; margin-bottom: 40px;}
.header-title p{
	color: rgb(83, 76, 72);
}

.header-title {
    margin-top: 140px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #b2afaf;
}

#foundation_logo {
    display: block;
    float: right;
    width: 128px;
    height: 40px;
    margin-top: 10px;
    padding: 0;
    text-indent: -9999px;
    background: url(../img/sfapp_logo.png) top right no-repeat;
}

/* Navigation */
#datajam_navbar .navbar-inner { background: url(../img/sfapp_bg_header.jpg) 0 0 repeat-x; }
#datajam_navbar .navbar-inner .container { padding-bottom: 0; }
#datajam_navbar .navbar-inner .container:before,
#datajam_navbar .navbar-inner .container:after {
    display: block;
    clear: none;
}

#datajam_navbar .navbar-inner .divider-vertical {
    height: 59px;
    margin: 0;
    border-right: 1px solid #F3FDF6;
    border-left: 1px solid #D1DAD1;
}

#datajam_navbar .nav {
    margin-bottom: -8px;
}

#datajam_navbar .nav > li > a {
    padding: 22px 15px 26px;
    text-shadow: none;
    color: #635F5C;
}

#datajam_navbar .nav > li > a:hover {
    color: #8d8884;
}

#datajam_navbar .nav > li.open > a,
#datajam_navbar .nav > li.open > a:hover {
    padding-bottom: 24px;
    border: 1px solid #29454B;
    border-right: none;
    border-left: none;
    color: #fff;
}

#datajam_navbar .nav > li.open > a {
    border-color: #29454B;
    background-color: #29454B;
}

#datajam_navbar .nav > li.open > a,
#datajam_navbar .nav > li.open > a:hover {
    padding-bottom: 17px;
}

#datajam_navbar .nav > li.active > a,
#datajam_navbar .nav > li.active > a:hover {
    z-index: 1001;
    position: relative;
    padding-bottom: 17px;
    border: 1px solid #2e3738;
    color: #fff;
    background-color: #29454B;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#29454B),to(#113338));
    background-image: -webkit-linear-gradient(top,#29454B,#113338);
    background-image: -moz-linear-gradient(top,#29454B,#113338);
    background-image: -o-linear-gradient(top,#29454B,#113338);
    background-image: linear-gradient(to bottom,#29454B,#113338);
}

#datajam_navbar .nav > li > a > .caret {
    border-top-color: #635F5C;
    opacity: 1;
}

#datajam_navbar .nav > li > a:hover > .caret {
    border-top-color: #8d8884;
}

#datajam_navbar .nav > li.active > a > .caret,
#datajam_navbar .nav > li.open> a > .caret {
    border-top-color: #fff;
}

#datajam_navbar ul.dropdown-menu:before,
#datajam_navbar ul.dropdown-menu:after {
    display: none;
}

#datajam_navbar ul.dropdown-menu {
    padding: 0;
    border: 1px solid #9aa899;
    border-right-color: hsl(145,9%,85%);
    border-left-color: hsl(145,9%,85%);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 3px 4px rgba(0,0,0,0.05);
    -ms-box-shadow: 0 3px 4px rgba(0,0,0,0.05);
    -o-box-shadow: 0 3px 4px rgba(0,0,0,0.05);
    /*border-bottom-width:6px;*/
    margin-top: -1px;
}

#datajam_navbar ul.dropdown-menu li:first-child > a {
    padding-top: 11px;
}

#datajam_navbar ul.dropdown-menu li:last-child > a {
    padding-bottom: 11px;
}

#datajam_navbar ul.dropdown-menu li > a {
    color: #2e3738;
    padding-top:7px;
    padding-bottom:7px;
}

#datajam_navbar ul.dropdown-menu li > a:hover {
    color: #fff;
    background-color: #29454B;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#29454B),to(#113338));
    background-image: -webkit-linear-gradient(top,#29454B,#113338);
    background-image: -moz-linear-gradient(top,#29454B,#113338);
    background-image: -o-linear-gradient(top,#29454B,#113338);
    background-image: linear-gradient(to bottom,#29454B,#113338);
}
#datajam_navbar .nav > li#nav_home.active > a, #datajam_navbar .nav > li#nav_home > a { MARGIN-TOP: 6PX; border: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; padding: 0; background: url(../img/datajambadge.png) center top no-repeat; display: block; width: 50px; height: 50px; text-indent: -9999em;}
#datajam_navbar .nav > li#nav_home.active > a:hover, #datajam_navbar .nav > li#nav_home > a:hover { background: url(../img/datajambadge.png) center bottom no-repeat;}
#datajam_navbar .nav #nav_home.active {
	background-color: none;
	border: 0;
	color: #fff;
	position: relative;
	z-index: 1001;
	background-image: none;
	padding-bottom: 11px;
}

#nav_home {
    margin-right: 10px;
}



/* Footer */

.terms {
    margin-top: 30px;
}

.sf-footer div.terms p {
    font-family: Georgia,'Times New Roman',Times,serif;
    font-size: 95%;
    font-style: oblique;
    line-height: 18px;
}

.sf-footer-wrapper {
    margin-top: 70px;
    padding-top: 50px;
    min-height: 220px;
    border-top: 1px solid #ece9e9;
    background-color: #fafaf7;
}

.sf-footer {
    color: #9f9a97;
}

.sf-footer h4 {
    margin-bottom: 0.5em;
    color: #9f9a97;
}

.sf-footer .tip {
    color: #9f9a97;
}

.sf-footer ul {
    margin: 0;
    list-style-type: none;
}

.sf-footer a {
    color: #C9A706;
}

.sf-footer a:hover {
    color: #827B78;
}

#sfapp_subscribe_form li {
    float: left;
    margin-right: 10px;
}

#sfapp_subscribe_form input[name=email] {
    width: 140px;
}

#sfapp_subscribe_form input[name=zipcode] {
    width: 95px;
}

/* Content area */

.span-divider {
    margin-right: -1px;
    border-right: 1px dashed #e8e6de;
}

/* Homepage */
#home header { margin-bottom: 0 }
#home h1 { font-size: 500%; text-transform: uppercase; line-height: 60px; color: #635F5C; margin-bottom: 0; background: url(../img/datajamlogofinal.png) left top no-repeat; text-indent: -9999em;}
.hero-unit { padding: 40px; border: 1px solid #d6d3d3; border-radius: 0;}
.hero-unit h2 { margin-top: 25px; }
.hero-unit h2:first-child { margin-top: 0; }
.hero-unit ul { list-style-type: none; margin: 0; margin: 0 auto; }
.hero-unit em { font-size: 80%; line-height: 22px; display:block;  }
.live-examples { padding-left: 70px; border-left: 1px dashed #d6d3d2; margin-left: 70px; }
.live-examples img { border: 1px solid #e3dfdf; margin-bottom:10px; }
.imgbtns { margin: 0 auto; text-align: center; }
.imgbtns li { display: inline-block; margin: 10px; }
.imgbtns a { width: 12px; height: 12px; }

#home header {
    margin-bottom: 0;
}

#home h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 500%;
    line-height: 60px;
    color: #635F5C;
}

.hero-unit {
    padding: 40px;
    border: 1px solid #d6d3d3;
    border-radius: 0;
}

.hero-unit h2 {
    margin-top: 25px;
}

.hero-unit h2:first-child {
    margin-top: 0;
}

.hero-unit ul {
    margin: 0;
    margin: 0 auto;
    list-style-type: none;
}

.hero-unit em {
    display: block;
    font-size: 80%;
    line-height: 22px;
}

.live-examples {
    margin-left: 70px;
    padding-left: 70px;
    border-left: 1px dashed #d6d3d2;
}

.live-examples img {
    margin-bottom: 10px;
    border: 1px solid #e3dfdf;
}

.imgbtns {
    margin: 0 auto;
    text-align: center;
}

.imgbtns li {
    display: inline-block;
    margin: 10px;
}

.imgbtns a {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #d7c109;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.imgbtns li a.active {
    width: 10px;
    height: 10px;
    border: 2px solid #d7c109;
    background-color: #fff;
}

.download-info a {
    margin-top: 35px;
    margin-right: 15px;
}

/* User Guide */

/*.subnav {  background-color: #f5f5f5;}*/

.span3 .subnav.affix-me {
    width: 186px;
}

.breadcrumb {
    margin-bottom: -30px;
    border-radius: 0;
    background-color: rgba(245,245,245,0.45);
}

[role="main"] h5 {
    float: right;
}

[role="main"] h5+h5 {
    float: left;
}

[role="main"] img {
    padding: 3px;
    border: 1px solid #eee;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
    border-top: 1px dashed #C4AA23;
    border-bottom: 1px dashed #C4AA23;
    text-shadow: none;
    color: #C4AA23;
    background-color: inherit;
}

/* alerts */

.alert-info {
    border-color: #ADD1D3;
    color: #388588;
    background-color: rgba(120,188,191,0.36);
}

.alert {
    border: 1px solid #F0ECD4;
    color: #BB9F11;
    background-color: #FAF8EA;
}

/* Plugins */

#plugins {
}

#plugins .download-info {
    float: right;
}

#plugins .plugins li {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
    list-style: none;
}

#plugins .plugins li h4 {
    margin-bottom: 0.5em;
}

#plugins .plugins li img {
    display: block;
    margin-bottom: 1em;
    padding: 5px;
    border: 1px solid #dee9e5;
    border-radius: 2px;
}

@media(max-width:979px) {
    #plugins .plugins li {
        float: none;
        width: auto;
    }
}

/* iPad Breakpoint */

@media(max-width:979px) {
    body {
        background-position: 50% 44px;
    }

    #datajam_navbar {
        background: transparent url(../img/fabric_bg.png) repeat 0 0;
        box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    }

    #datajam_navbar .btn-navbar {
        float: left;
        margin: 12px 5px 0;
        border: 2px solid #D6E2D9;
        border-bottom-color: #C9D4CC;
        background: #F2F7F0;
        background-image: -webkit-gradient(linear,left top,left bottom,from(#DEE3DD),to(#D1DCD4));
        background-image: -webkit-linear-gradient(top,#DEE3DD,#D1DCD4);
        background-image: -moz-linear-gradient(top,#DEE3DD,#D1DCD4);
        background-image: -o-linear-gradient(top,#DEE3DD,#D1DCD4);
        background-image: linear-gradient(to bottom,#DEE3DD,#D1DCD4);
        -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.16);
        -moz-box-shadow: inset 0 0 20px rgba(0,0,0,0.16);
        box-shadow: inset 0 0 20px rgba(0,0,0,0.16);
        -ms-box-shadow: inset 0 0 20px rgba(0,0,0,0.16);
        -o-box-shadow: inset 0 0 20px rgba(0,0,0,0.16);
    }

    #datajam_navbar .btn-navbar .icon-bar {
        background-color: #BEC3BD;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
    }

    #datajam_navbar .btn-navbar.collapsed {
        background-image: -webkit-gradient(linear,left top,left bottom,from(#F8FDF6),to(#E2EEE5));
        background-image: -webkit-linear-gradient(top,#F8FDF6,#E2EEE5);
        background-image: -moz-linear-gradient(top,#F8FDF6,#E2EEE5);
        background-image: -o-linear-gradient(top,#F8FDF6,#E2EEE5);
        background-image: linear-gradient(to bottom,#F8FDF6,#E2EEE5);
        box-shadow: none;
    }

    #datajam_navbar .btn-navbar.collapsed .icon-bar {
        background-color: #CBD9CC;
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.7);
        -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.7);
        box-shadow: 0 1px 0 rgba(255,255,255,0.7);
        -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.7);
        -o-box-shadow: 0 1px 0 rgba(255,255,255,0.7);
    }

    #datajam_navbar .navbar-inner {
        background-position: left -4px;
    }

    #datajam_navbar .nav {
        margin-top: 20px;
        margin-bottom: 0;
    }

    #datajam_navbar .nav > li.active > a,
    #datajam_navbar .nav > li.open > a,
    #datajam_navbar .nav > li.open > a:hover,
    #datajam_navbar .nav > li > a,
    #datajam_navbar .nav > li.active > a:hover {
        padding: 12px 15px;
        border: none;
    }

    #datajam_navbar .nav > li > a:hover,
    #datajam_navbar .nav > li.open > a {
        border: none;
        color: #fff;
        background-color: #5F7273;
    }

    #datajam_navbar ul.dropdown-menu {
        margin-top: 0;
        margin-bottom: 5px;
        border: none;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        box-shadow: none;
    }

    #datajam_navbar .nav li a:hover > .caret {
        border-top-color: #fff;
    }

    #foundation_logo {
        margin-top: 8px;
    }

    .header-title {
        margin-top: 20px;
    }

    #home [class*=span] {
        width: 100%;
    }

    .live-examples {
        margin-left: 20px;
        padding-top: 20px;
        padding-left: 0;
        border-top: 1px dashed #d6d3d2;
        border-left: none;
    }

    .live-examples img {
        display: block;
        margin: 0 auto 20px;
    }

    .live-examples .imgbtns > li > a {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }

    .span3 .subnav.affix-me {
        width: 146px;
    }
}

/* Mobile Breakpoint */

@media(max-width:767px) {
    .subnav {
        display: none;
    }
}