<%= simple_form_for [:admin, @page], html: { class: "form-horizontal" } do |f| %>
  <%= f.input :slug %>
  <%= f.input :content, as: :text, input_html: { class: 'datajamTemplate', rows: 10, cols: 100 } %>
  <div class="ace-editor" id="ace-editor"></div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
