<h2>Pages</h2>

<%= table_for @pages, ["Slug", ""] do |page| %>
  <tr>
    <td><%= link_to page.slug, admin_page_path(page) %></td>
    <td><%= delete_button admin_page_path(page), confirm: 'Are you sure?' %></td>
  </tr>
<% end %>

<h3>New Page</h3>
<%= render "form" %>
