<div class="row-fluid">
  <div class="span9">
    <h2><%= @plugin.name.titleize %></h2>

    <ul class="nav nav-pills">
      <li class="active"><a href="#about" data-toggle="pill">About</a></li>
      <li><a href="#settings" data-toggle="pill">Settings</a></li>
      <%= render 'actions' %>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="about">
        <div class="well">
          <%= markdown @plugin.description %>
        </div>
      </div>

      <div class="tab-pane" id="settings">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div><br/>