<%= table_for @assets, ["Filename", "Uploaded", ""] do |asset| %>
  <tr>
    <td><%= link_to asset.asset_filename, asset.asset.url %></td>
    <td><%= asset.created_at.to_s :db %></td>
    <td><%= delete_button admin_asset_path(asset) %></td>
  </tr>
<% end -%>
