<h2>Notify</h2>

<% if @event.reminders.any? %>
  <%= table_for @event.reminders, ["Email", ""] do |reminder| %>
    <tr>
      <td><%= reminder.email %></td>
      <td><%= link_to 'X', admin_event_reminder_path(@event, reminder), method: :delete %></td>
    </tr>
  <% end %>
<% else %>
  No one will be notified...
<% end %>
