<h2>Event Templates</h2>

<%= table_for @event_templates, ["Name", "Last Updated", ""] do |template| %>
  <%= render "admin/templates/template", template: template %>
<% end %>

<hr />

<h3>New Event Template</h3>
<%= render 'admin/templates/form' %>
