<h2>Getting Started</h2>

<p>Datajam is a web app for data-driven reporting of live events, with a focus on asynchronous content updates. Think of it as a real-time CMS.</p>

<p>A few things should be done before <a href="/admin/events">producing an event</a>:</p>

<ol>
  <li><a href="/admin/assets">Upload a site template</a>, the HTML layout for the site.</li>
  <li>Individual events need custom layouts, so define an <a href="/admin/templates">event template</a> to be included inside the larger site template.</li>
  <li>Add additional <a href="/admin/users">users</a> to help with event production.</li>
  <li>Browse the <a href="http://datajam.org/plugins">plugins gallery</a> for useful additions to Datajam.</li>
</ol>

