<div class="sf-footer-wrapper">
    <div class="sf-footer container">
        <div class="row">
            <div class="span6 signup span-divider">
                <h4>Like this Project and Want to Discover Others Like It?</h4>
                <span class="tip">Join the Sunlight Foundation's open government community to learn more</span>
                <form action="/subscribe/" method="post" id="sfapp_subscribe_form">
                    <ul>
                        <li id="email"><input type="text" name="email" placeholder="your email address"></li>
                        <li id="zipcode"><input type="text" name="zipcode" placeholder="your zip code"></li>
                        <li><button type="submit" class="btn btn-sunlight">Sign Up</button></li>
                    </ul>
                    <div class="clear"></div>
                </form>
            </div>
            <div class="span6 terms">
                <p>Our <a href="http://sunlightfoundation.com/legal/privacy/">privacy policy</a> details how personally identifiable information that is collected on our web sites is handled. Read our <a href="http://sunlightfoundation.com/legal/terms/">terms of service</a>.</p>
                <p>This work by <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, unless <a href="http://sunlightfoundation.com/colophon/">otherwise noted</a>, is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.</p>
            </div>
        </div>
    </div>
</div>