<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/manual/">User Guide</a></li>
                    <li class="active"><a href="/plugins/">Plugins</a></li>
                    <li><a href="https://github.com/sunlightlabs/datajam/">Github Repo</a></li>
                </ul>
            </div>
            <a id="foundationLogo" href="http://sunlightfoundation.com" class="brand">Sunlight Foundation</a>
        </div>
    </div>
</div>