body { padding-top: 60px; }
.nav-list i { color: #333; }
footer { border-top: 1px solid #ccc; margin-top: 20px; padding-top: 20px; }
td form { margin:0; }
.ace-editor {
  position: relative !important;
  background: #fff;
  min-width: 400px;
  max-width: 80%;
  height: 400px;
  border: 1px solid #999;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
}
.inline-form button,
.inline-form input { display: none; }

@media (max-width:979px) {
  body { padding-top:0; }

}