<div id="table-main" class="ajax-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <% headers.each do |h| %>
          <th><%= link_to_if_sym_to_sort(h, sorted_by) %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |element| %>
        <%= capture(element, &generator) %>
      <% end %>
    </tbody>
  </table>
</div>
