<h2>Tags</h2>

<%= table_for @tags, [:name, "Objects Tagged", ""] do |tag| %>
  <tr>
    <td><%= tag.name %></td>
    <td><%= pluralize tag.objects_tagged, "object" %> tagged</td>
    <td><%= delete_button admin_tag_path(tag), title: "This will remove the tag, and in the process remove it from all associated objects. These objects won't be removed.", confirm: "Are you sure? This will remove the tag, and in the process remove it from all associated objects. These objects won't be removed." %></td>
  </tr>
<% end %>
