<h2>Data Cards</h2>

<ul class="nav nav-pills">
    <li class="active"><a href="#index" data-toggle="pill">List</a></li>
    <li><a href="#new" data-toggle="pill">Create New</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="index">
        <%= render :partial => 'admin/cards/table' %>
    </div>
    
    <div class="tab-pane" id="new">
        <%= render "form" %>
    </div>
</div>
