<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    {% include head_assets.html %}
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
    {% include header.html %}
    <div class="container">
        <header class="module clearfix">
            <div class="headerTitle">
                <h1>Datajam</h1>
                <p>A Content Management System for producing live events in real time.</p>
            </div>
            <div id="feature" class="hero-unit clearfix row">
                <div class="span4">
                    <h2>Welcome to Datajam</h2>
                    <p class="endingParagraph">Easily host live events featuring a video player, chat tool, and data cards with this open source platform from the <a href="http://sunlightfoundation.com">Sunlight Foundation</a></p>
                    <h2>Get Started!</h2>
                    <p>Datajam is a Ruby on Rails application designed with Heroku in mind. It can be deployed to any Rack environment, but it’s easiest to get started with Heroku.</p>
                    <p>Follow the instructions below, view the <a href="/userguide/">user guide</a> or find our code on <a href="https://github.com/sunlightlabs/datajam/">github</a>.</p>
                    
                    <p class="download-info">
                        <a href="https://github.com/sunlightlabs/datajam/" class="btn btn-primary btn-large btn-sunlight">View the Project on Github</a>
                        <a href="/userguide/" class="btn btn-large">User Guide</a>
                    </p>
                </div>
                <div class="span5 liveExamples">
                    <ul class="imgBtns">
                        <li><a class="active textReplace" href="#">button1</a></li>
                        <li><a class="textReplace" href="#">button2</a></li>
                        <li><a class="textReplace" href="#">button3</a></li>
                    </ul>    
                    <ul>
                        <li>
                            <img src="/img/img_fullSite.jpg" />
                            <p class="tip">We call our implementation of Datajam "Sunlight Live." Designed to match our main site, Sunlight Live features a fluid/responsive design, video, data cards and chat, and an integrated administrative console. The page notifies users of new messages and makes it a cinch to update the page with new data cards.</p>
                        </li>
                        <li class="hidden">
                            <img src="/img/img_liveChat.jpg" />
                            <p class="tip">Our chat system was built from the ground up to make it easy to monitor and curate incoming messages. URLs in messages are automatically shortened through bit.ly (the system can use your Bit.ly API if you have one), and can be shared with one click to Twitter.</p>
                        </li>
                        <li class="hidden">
                            <img src="/img/img_dataCards.jpg" />
                            <p class="tip">Our data cards is what really separates Datajam from other real-time reporting platforms. Cards can be easily created using data from our Influence Explorer site, or the can be custom built with CSV or HTML. Switching the cards is simple: you just select them from a menu during the event and they are instantly updated for all viewers.</p>
                        </li>
                    </ul>    
                </div>    
            </div>

        </header>
        <div role="main">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
    {% include body_assets.html %}
    {% include analytics.html %}
</body>
</html>