<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <link rel="shortcut_icon" href="//sunlightfoundation.com/favicon.ico">
    {% include head_assets.html %}
</head>
<body id="home" data-spy="scroll" data-target=".subnav" data-offset="50">
    {% include header.html %}
    <div class="container">
        <header class="module row clearfix">
            <div class="header-title span12">
                <h1>Datajam</h1>
                <p>A Content Management System for producing live events in real time.</p>
            </div>
        </header>
        <div role="main">
            <div id="feature" class="hero-unit clearfix">
                <div class="row">
                    <div class="span4">
                        {{ content }}
                    </div>
                    <div class="span5 live-examples cycle">
                        {% capture slides_content %}
                        {% include home/slides.md %}
                        {% endcapture %}
                        {{ slides_content | unindent | markdownify }}
                    </div>
                </div>
                <div class="row">
                    <div class="span11">
                        <p class="download-info masthead">
                            <a href="/userguide/" class="btn btn-large btn-sunlight">User Guide</a>
                            <a href="https://github.com/sunlightlabs/datajam/" class="btn btn-large">View the Project on Github</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}
    {% include body_assets.html %}
    {% include analytics.html %}
</body>
</html>