<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    {% include head_assets.html %}
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
    {% include header.html %}
    <div class="container">
        <header class="module clearfix">
            <div class="headerTitle">
                <h1>Datajam</h1>
                <p>A Content Management System for producing live events in real time.</p>
            </div>
            <div id="feature" class="hero-unit clearfix row">
                <div class="span5">
                    <p class="endingParagraph">Easily host live events featuring a video player, chat tool, and data cards with this open source platform from the <a href="http://sunlightfoundation.com">Sunlight Foundation</a></p>
                    <h2>Get Started!</h2>
                    <p>Datajam is a Ruby on Rails application designed with Heroku in mind. It can be deployed to any Rack environment, but it’s easiest to get started with Heroku.</p>
                    <p>Follow the instructions below, view the <a href="/userguide/">user guide</a> or find our code on <a href="https://github.com/sunlightlabs/datajam/">github</a>.</p>
                    
                    <p class="download-info">
                        <a href="https://github.com/sunlightlabs/datajam/" class="btn btn-primary btn-large btn-sunlight">View the Project on Github</a>
                        <a href="/userguide/" class="btn btn-large">User Guide</a>
                    </p>
                </div>
                <div class="span8">
                    
                </div>    
            </div>

        </header>
        <div role="main">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
    {% include body_assets.html %}
    {% include analytics.html %}
</body>
</html>