<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    {% include head_assets.html %}
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li id="nav_home"><a href="/">&laquo;Home</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="#overview">Overview</a></li>
                        <li><a href="#installation">Installation</a></li>
                        <li><a href="#templates">Templates</a></li>
                        <li><a href="#producing_an_event">Producing an Event</a></li>
                        <li><a href="#extending_datajam_with_plugins">Extending</a></li>
                        <li><a href="#contributing">Contributing</a></li>
                        <!-- <li><a href="#">Annotated Source</a></li> -->
                        <li class="divider-vertical"></li>
                        <li><a href="https://github.com/sunlightlabs/datajam/">Github Repo</a></li>
                    </ul>
                </div>
                <a id="foundationLogo" href="http://sunlightfoundation.com" class="brand">Sunlight Foundation</a>
            </div>
        </div>
    </div>

    <div class="container">
        <header class="module clearfix">
            <div class="headerTitle">
                <h1>User Guide</h1>
            </div>
        </header>
        <div role="main">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
    {% include body_assets.html %}
    {% include analytics.html %}
</body>
</html>