<%= table_for @users, ["Name", "Affiliation", ""] do |user| %>
  <tr>
    <td><%= link_to user.name, edit_admin_user_path(user) %></td>
    <td><%= user.affiliation %></td>
    <td><%= delete_button admin_user_path(user) %></td>
  </tr>
<% end %>
