<h2>Users</h2>

<h3>User List</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Affiliation</th>
    <th>Delete</th>
  </tr>
  <% @users.each do |user| -%>
  <tr>
    <td><%= link_to user.name, edit_admin_user_path(user) %></td>
    <td><%= user.affiliation %></td>
    <td><%= link_to 'X', admin_user_path(user), method: :delete %></td>
  <% end -%>
</table>

<h3>New User</h3>

<%= render "form" %>
